<div class="container">
    <div class="row border p-1 mt-2">
        <h3>Deathly Hallow Race </h3>
        <div class="col-4">
            <div>Invisibility Cloak - <div id="cloakCounter"></div></div>

        </div>
        <div class="col-4">
            <div>Resurrection Stone - <div id="stoneCounter"></div></div>

        </div>
        <div class="col-4">
            <div>Elder Wand - <div id="wandCounter"></div></div>

        </div>
        <hr />
        <p>Url to Vote:</p>
        <div>1. Invisibility Cloak - https://localhost:7287/Home/DeathlyHallows?hallow=cloak</div>
        <div>2. Resurrection Stone - https://localhost:7287/Home/DeathlyHallows?hallow=stone</div>
        <div>3. Elder Wand - https://localhost:7287/Home/DeathlyHallows?hallow=wand</div>
    </div>
</div>

<script src="~/js/signalr.js"></script>
<script src="~/js/deathlyHallows.js"></script>